<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset = 'UTF-8'/>
	<title>Cosmetics Shopping</title>
	<link rel='stylesheet' type='text/css' href='/static/css/boostrap.min.css' th:href='@{/static/css/boostrap.min.css}'/>
</head>
<body>
	<h1>Cosmetic Shop</h1>
	<form>
		<a href='@{/login.html}'>LogIn</a>
		<a href='@{/signup.html}'>SignUp</a>
	</form>
	<h3>Skincare Products</h3>
	<div class='container'>
		<div class='row'>
			<div class='col-xs-4'>
				<img src='#' alt=''/>
				<p><a href='#'>Add to cart</a></p>			
			</div>
			<div class='col-xs-4'>
				<img src='#' alt=''/>
				<p><a href='#'>Add to cart</a></p>			
			</div>
			<div class='col-xs-4'>
				<img src='#' alt=''/>
				<p><a href='#'>Add to cart</a></p>		
			</div>		
		</div>
		<div class='row'>
			<div class='col-xs-4'>
				<img src='#' alt=''/>
				<p><a href='#'>Add to cart</a></p>			
			</div>
			<div class='col-xs-4'>
				<img src='#' alt=''/>
				<p><a href='#'>Add to cart</a></p>			
			</div>
			<div class='col-xs-4'>
				<img src='#' alt=''/>
				<p><a href='#'>Add to cart</a></p>		
			</div>			
		</div>
		<div class='row'>
			<div class='col-xs-4'>
				<img src='#' alt=''/>
				<p><a href='#'>Add to cart</a></p>			
			</div>
			<div class='col-xs-4'>
				<img src='#' alt=''/>
				<p><a href='#'>Add to cart</a></p>			
			</div>
			<div class='col-xs-4'>
				<img src='#' alt=''/>
				<p><a href='#'>Add to cart</a></p>		
			</div>		
		</div>
		
	</div>

</body>
</html>