<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace='layout :: head'>
</head>
<body>
	<nav th:replace='layout :: header'></nav>
	<table class='table table-striped'>
		<tr>
			<th>Cosmetics Products</th>
			<th sec:authorize="hasAuthority('USER')" th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</th>
			<th>
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Sign Out" class="btn btn-danger"/>
				</form>
			</th>
		</tr>	
	</table>
	
	<div class='container' th:fragment='content'>
		<div class='row'>
			<div class='col-sm-4 product' th:each="product : ${products}">
				<img th:src="@{'/images/' + ${product.image}}"/>
				<h4 th:text='${product.name}'></h4>
				<p th:text='${product.price}'></p>
				<form sec:authorize="hasAuthority('USER')" th:action="@{/addtocart/{id}(id=${product.id})}" method="POST">
               		<input type="submit" class="btn btn-primary" value="Add to cart"/>               		
           		</form>
           		<p><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/edit/{id}(id=${product.id})}">Edit product</a></p>
           		<p><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/delete/{id}(id=${product.id})}">Delete product</a></p>
			</div>			
		</div>		
	</div>
</body>
</html>