<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cosmetics Shopping</title>
</head>
<body>
	<h1>Cosmetic Shop</h1>
	<form>
		<a href='#'>LogIn</a>
		<a href='#'>SignUp</a>
	</form>
	<h3>Skincare Products</h3>
	<div class='container'>
		<div class='row'>
			<div class='col-xs-4'>
				<img src='#' alt=''/>
				<p><a href='#'>Add to cart</a></p>			
			</div>
			<div class='col-xs-4'>
				<img src='#' alt=''/>
				<p><a href='#'>Add to cart</a></p>			
			</div>
			<div class='col-xs-4'>
				<img src='#' alt=''/>
				<p><a href='#'>Add to cart</a></p>		
			</div>		
		</div>
		<div class='row'>
			<div class='col-xs-4'>
				<img src='#' alt=''/>
				<p><a href='#'>Add to cart</a></p>			
			</div>
			<div class='col-xs-4'>
				<img src='#' alt=''/>
				<p><a href='#'>Add to cart</a></p>			
			</div>
			<div class='col-xs-4'>
				<img src='#' alt=''/>
				<p><a href='#'>Add to cart</a></p>		
			</div>			
		</div>
		<div class='row'>
			<div class='col-xs-4'>
				<img src='#' alt=''/>
				<p><a href='#'>Add to cart</a></p>			
			</div>
			<div class='col-xs-4'>
				<img src='#' alt=''/>
				<p><a href='#'>Add to cart</a></p>			
			</div>
			<div class='col-xs-4'>
				<img src='#' alt=''/>
				<p><a href='#'>Add to cart</a></p>		
			</div>		
		</div>
		
	</div>

</body>
</html>