<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace='layout :: head'>
</head>
<body>
	<nav th:replace='layout :: header'></nav>
	<h1>Log In</h1>
	<form th:action="@{/login}" method="post">
            <div><label> User Name :</label>  <input type="text" name="username"/> </div>
            <div><label> Password: </label> <input type="password" name="password"/> </div>
     </form>
        <input type="submit" value="Sign In"/>
	
</body>
</html>