<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset='UTF-8'/>
	<title>LogIn</title>
	<link rel='stylesheet' type='text/css' href='/static/css/boostrap.min.css' th:href='@{/static/css/boostrap.min.css}'/>
</head>
<body>
	<h1>LogIn</h1>
	<form action='#' th:action='@{/login}' th:object='${loginForm}' method='POST'>
		Username:
		<input type='text' th:field="*{username}"/>
		<br/>
		Password:
		<input type='text' th:field='*{password}'/>
		<br/>
		<input type='submit' value='Log In'/>
	</form>

</body>
</html>