<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace='layout :: head'>
</head>
<body>
	<nav th:replace='layout :: header'></nav>
	<h1>Order List</h1>
	<div>
		<table class='table table-striped' border='1'>
			<tr>
				<th>Order number</th>
				<th>Customer name</th>
				<th>Customer address</th>
				<th>Customer email</th>
				<th>Total amount</th>
			</tr>
			<tr th:each='order : ${orders}'>
				<th th:text='${order.customerName}'></th>
				<th th:text='${order.customerAddress}'></th>
				<th th:text='${order.customerEmail}'></th>
				<th th:text='${order.orderAmount}'></th>
				<td><a class='btn btn-primary' th:href="@{/check/{id}(id=${check.id})}">Check</a></td>  
			</tr>
		</table>
	</div>
</body>
</html>