<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace='layout :: head'>
</head>
<body>
	<nav th:replace='layout :: header'></nav>
	<h1>Order List</h1>
	<div>
		<table class='table table-striped' border='1'>
			<tr>
				<th>Order number</th>
				<th>Total price</th>
			</tr>
			<tr th:each='order : ${orders}'>
				<th th:text='${order.getId()}'></th>
				<th th:text='${order.getTotalPrice()}'></th>
			</tr>
		</table>
	</div>
</body>
</html>